body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background: rgb(132, 221, 237);
    color: rgb(0, 0, 0);
  }


/* Настройка верхнего блока с текстом */
.up{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  background: white;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, .2);
}


/* Стилизация верхнего текста */
.textup{
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  padding: 12px 24px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: black;
  text-decoration: none;
}

/* Настройка главного блока изображений */
.image{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;

}


/* Настройка блоков с изображениями */
.img1{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.img2{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.img3{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.img4{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}


/* Делаем и настраиваем кнопку для "Бургер-меню" */
  .button{
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right:0;
    width: 30px;
    height: 30px;
    padding: -5px;
    cursor: pointer;
    z-index: 1;
  }
   
  .button > span,
  .button > span::before,
  .button > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: rgb(0, 0, 0);
    transition-duration: 1s;
  }
  .button > span::before {
    content: '';
    top: -8px;
  }
  .button > span::after {
    content: '';
    top: 8px;
  }
  

/* Настраиваем стили для списка меню */
  .links{
    display: block;
    position: fixed;
    top: 30px;
    list-style: none;
    right: 100%;
    width: 200px;
    height: 100%;
    margin: 0;
    padding: 50px 0px;
    background-color: #ffffff;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, .2);
    transition-duration: 1s;
  }
   

/* Настраиваем стили для пунктов в меню */
  .link {
    display: block;
    padding: 12px 24px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: black;
    text-decoration: none;
    transition-duration: .20s;
    cursor: pointer;
  }
  .link:hover {
    transition: .5s ease-in-out;
    background-color: rgb(132, 221, 237);
  }

   
/* Прячем стандартный чек-бокс */
  #toggle{
    opacity: 0;
  }


/* Настройка нового чек-бокса */
  #toggle:checked ~ .button > span{
    transform: rotate(45deg);
  }
  #toggle:checked ~ .button > span::before{
    top: 0;
    transform: rotate(0);
  }
  #toggle:checked ~ .button > span::after{
    top: 0;
    transform: rotate(90deg);
  }
  #toggle:checked ~ .links{
    visibility: visible;
    right: 0;
  }


  /* Настройка нижнего блока с текстом */
.down{
  position: fixed; 
  left: 0; bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  background:rgb(255, 255, 255);
  box-shadow: -5px 5px 5px rgba(0, 0, 0, .2);
}

/* Стилизация нижнего текста */
.textdw{
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  padding: 12px 24px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: black;
  text-decoration: none;
}

/* Настройка анимации для нижнего текста */
.textdw span {
display: inline-block;
padding-left: 100%;
-webkit-animation: scroll 20s infinite linear;
-moz-animation: scroll 20s infinite linear;
animation: scroll 20s infinite linear;
}

@-webkit-keyframes scroll {
0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}
100% {
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0)
}

}

@-moz-keyframes scroll {
0% {
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
}
100% {
    -moz-transform: translate(-100%, 0);
    transform: translate(-100%, 0)
}

}

@keyframes scroll {
0% {
    transform: translate(0, 0);
}
100% {
    transform: translate(-100%, 0)
}

}

/* Настройка блоков с ссылками */
.Labs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    padding: 20px;
    margin: 100px auto;
    border-radius: 20px;
    background: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.393);
}

.Lab1{
    width: 250px;
    height: 300px;
    background: rgb(132, 221, 237);
    border-radius: 20px;
    margin: 0px 10px;

}

.Lab1{
    width: 250px;
    height: 300px;
    background: rgb(132, 221, 237);
    border-radius: 20px;
    margin: 0px 10px;
    transition: 1s;

}

.Lab2{
    width: 250px;
    height: 300px;
    background: rgb(132, 221, 237);
    border-radius: 20px;
    margin: 0px 10px;
    transition: 1s;

}

.Lab3{
    width: 250px;
    height: 300px;
    background: rgb(132, 221, 237);
    border-radius: 20px;
    margin: 0px 10px;
    transition: 1s;

}

.Lab4{
    width: 250px;
    height: 300px;
    background: rgb(132, 221, 237);
    border-radius: 20px;
    margin: 0px 10px;
    transition: 1s;

}

.Lab5{
    width: 250px;
    height: 300px;
    background: rgb(132, 221, 237);
    border-radius: 20px;
    margin: 0px 10px;
    transition: 1s;

}

/* Настройка анимации блоков */
.Lab1:hover{
    background: rgb(0, 0, 0);
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
    cursor: pointer;
    
}

.Lab2:hover{
  background: rgb(0, 0, 0);
  border-radius: 20px;
  box-shadow: 2px 2px 2px rgb(0, 0, 0);
  cursor: pointer;
  
}

.Lab3:hover{
  background: rgb(0, 0, 0);
  border-radius: 20px;
  box-shadow: 2px 2px 2px rgb(0, 0, 0);
  cursor: pointer;
  
}

.Lab4:hover{
  background: rgb(0, 0, 0);
  border-radius: 20px;
  box-shadow: 2px 2px 2px rgb(0, 0, 0);
  cursor: pointer;
  
}

.Lab5:hover{
  background: rgb(0, 0, 0);
  border-radius: 20px;
  box-shadow: 2px 2px 2px rgb(0, 0, 0);
  cursor: pointer;
  
}

/* Настройка ссылки */
.url{
    display: flex;
    width: 250px;
    text-decoration: none;
}
/* Настройка текста в блоках */
.textbl{
    display: flex;
    justify-content: center;
    color: #ffffff;
}